@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: "Open Sans";
	background: #EAEAEA;
	color: #777;
}


/*** For Student Landing Page ***/
.student {
	color: rgba(52, 82, 107, 0.78);
    background: rgb(251, 251, 251);
    padding: 10px;
    border-top: 2px solid rgb(148, 172, 191);
    font-size: .9em;
    margin-top: 1.1em;
}

.student-container {
	margin-top: 1%;
}

.dorm-add-btn {
	height: 40px;
	border-radius: 0;
	margin-left: 1%;
	margin-top: 1%;
	border: 1px solid #479CB5;
	background: #fff;
	color: #438DA2;
	padding: 10px;
	border: 1px solid #479CB5;
}

.dorm-add-btn:hover {
	background:rgba(76, 112, 156, 0.94);
	color: #fff;
}

#dorm-menu-header {
	margin-bottom: 29px;
	margin-top: -3%;
	background: #fff;
	padding: 2%;
	margin-left: -4%;
	margin-right: -4%;
}

.dorm-rd {
	margin-top: 2%;
	width: 100%;
}

.dorm-rd-rd {
	background: #F4F9FE;
	padding: 10px;
	color: #7A777B;
	margin-bottom: 5px;
	border-top: 4px solid rgba(76, 112, 156, 0.94);
}

.dorm-rd-ra {
	background: #FDFDFD;
	padding: 10px;
	color: #7A777B;
	margin-bottom: 5px;
	border-top: 4px solid rgba(76, 112, 156, 0.94);
}

.dorm-important-contact:not (:last-child ){
	border-right: 2px solid #D8D8D8;
	padding-right: 2%;
}

h4.dorm-important-contact-h4 {
	border-bottom: 2px solid #D8D8D8;
	padding-bottom: 2%;
	margin-bottom: 2%;
	margin-top:2%;
	padding-top:2%;
}

label.member-after-login-welcome {
	color: #31669C;
	font-size: 0.8em;
	line-height: 2.2em;
}

div#leftcontent {
	margin-top: 1%;
}

div#rightcontent {
	margin-top: 2%;
}

div#leftcontent li.list-group-item {
	width: 121%;
	margin-left: -15%;
	border-radius: 0;
	background-color: rgb(241, 248, 255);
	color: #4A6E8C;
}

@media ( max-width : 768px) {
	div#leftcontent li.list-group-item {
		width: 100%;
		margin-left: 0;
	}
}

div#leftcontent li.list-group-item>a {
	text-decoration: none;
	color: inherit;
}

div#leftcontent li.list-group-item:hover {
	font-weight: bold;
	text-decoration: none;
	background: #F7F7F7;
}

div#dorm-lang {
	margin-top: 1%;
	padding: 10px;
}

div#dorm-footer {
	margin-top: 2%;
}

nav#dorm-nav {
	margin-top: -1%;
}


/********ROOM *******//
.row-message{
	margin-top: 5%;
    width: 50%;
    margin-bottom: 1%;
}

.add-form{
	width: 60%;
    margin: auto;
    /* border: 2px solid #EAEAEA; */
    margin-top: 2%;
    margin-bottom: 2%;
    background: #f9f9f9;
    padding: 1%;
}

.dynamic-checkboxes input[type=checkbox],.checkbox-inline{
	margin-left:10px;
	margin-right:2px;
}


/*******Maintenance************/
div.display-list{
	margin-top:2%;
	width:90%;
	margin:auto;
}
/**** OVERRIDE BootStrap ****/
.panel {
	background-color: rgba(245, 250, 255, 0.94);
}

.panel-default>.panel-heading {
	background-color: #498AC1;
	border-color: #498AC1;
	color: #FDFDFD;
	font-weight: 600;
	border-radius: 0;
}

.navbar-nav {
	float: none;
}

.navbar-brand {
	margin-top: -12%;
}